doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://code.jquery.com/jquery-3.6.3.min.js")
  body
    h1= title
    p Welcome to #{title}
    canvas(width="500", height="500", id="canvas")
    script(src="/javascripts/canvas.js")
